<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<!--Menu -->
	    <nav th:fragment="navbar" class="white" role="navigation">
	        <div class="nav-wrapper container">
	
	            <a th:href="@{/}" class="brand-logo"><img id="logo_principal" class="responsive-img" th:src="@{img/logo.png}" alt=""/></a>
	
	            <ul class="right hide-on-med-and-down">
	
	                <li><a href="#sobre" data-activates="sub-menu" class="dropdown-button" data-beloworigin="true">Sobre</a></li>
	                <li><a href="#atividades">Atividades</a></li>
	                <li><a href="#membros-atuais" data-activates="sub-menu-petianos" class="dropdown-button" data-beloworigin="true">Integrantes</a></li>
	
	                <!--Dropdown-->
	                <ul class="dropdown-content" id="sub-menu-petianos">
	                    <li><a href="#membros-atuais">Atuais</a></li>
	                    <li>
	                        <a class="waves-effect waves-light" href="#modal-egressos">Egressos</a>
	                    </li>
	                </ul>
	                <!--Fim Dropdown-->
	
	                <li><a th:href="@{/edital_bolsistas}">Editais 2017</a></li>
	                <li><a href="#contato">Contato</a></li>
	            </ul>
	
	            <!-- Menu Responsivo -->
	            <ul id="nav-mobile" class="side-nav">
	                <li><a href="#sobre" data-activates="sub-menu" class="dropdown-button" data-beloworigin="true">Sobre</a></li>
	                <li><a href="#atividades">Atividades</a></li>
	                <!-- <li><a href="#membros-atuais" data-activates="sub-menu-petianos" class="dropdown-button" data-beloworigin="true">Integrantes</a></li> -->
	                <li><a class='dropdown-button' href='#' data-activates='dropdown1'>Integrantes</a>
	                    <!-- Dropdown Structure -->
	                    <ul id='dropdown1' class='dropdown-content'>
	                        <li><a href="#membros-atuais">Atuais</a></li>
	                        <li><a href="#modal">Egressos</a></li>
	                    </ul>
	                </li>
	                <li><a href="#modal">Editais 2017</a></li>
	                <li><a href="#contato">Contato</a></li>
	            </ul>
	            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	        </div>
	    </nav>	
	    <!--Fim Menu -->
	</body>
</html>