<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>PET-TI Quixadá</title>

    <!-- CSS  -->
    <!--Import Google Icon Font-->
	<link th:href="@{http://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
	<!--Import materialize.css-->
	<link th:href="@{/webjars/materializecss/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection" />
    
    <!-- Import our CSS -->
	<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link th:href="@{/css/estilo.css}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="shortcut icon" th:href="@{/favicon.ico}" />
    
    <script th:src="@{https://use.fontawesome.com/2468e00924.js}"></script>

</head>

<body th:background="@{/img/background2.jpg}">

	<div class="card-panel centered-panel" style="width:60%; padding:50px;">
    	<div class="center">
    		<div class="row">
    			<img th:src="@{/img/logo.png}" width="300"/>
    		</div>
    		<div class="row">
    			<h5 th:text="${'Bem-vindo, TUTOR ' + session.usuario.nome}"></h5>
    		</div>
    		<div class="row">
	    		<a th:href="@{/petianos/}" class="waves-effect waves-light btn blue"><i class="material-icons left">person</i>Petianos</a>
		    	<a th:href="@{#}" class="waves-effect waves-light btn blue"><i class="material-icons left">perm_identity</i>Tutores</a>
		    	<a th:href="@{#}" class="waves-effect waves-light btn blue"><i class="material-icons left">share</i>Atividades</a>
		    	<a th:href="@{/logout}" class="waves-effect waves-light btn blue"><i class="material-icons left">power_settings_new</i>Logout</a>
  			</div>
	    	
	    </div>
  	</div>

    <!--Import jQuery before materialize.js-->
	<script th:src="@{/webjars/jquery/jquery.js}"></script>
	<script th:src="@{/webjars/materializecss/js/materialize.js}"></script>
    
    <script th:src="@{/js/init.js}"></script>

</body>

</html>
